<!DOCTYPE html>
<html lang="{{ config('app.locales.locale') }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ config('app.name') }}</title>

  {{ style('welcome') }}

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet">

</head>
<body>
<section>
  <div class="flex-center position-ref full-height">
    <div class="content">
      <div class="title m-b-md">
        {{ config('app.name') }}
      </div>

      <div class="links">
        v0.0.0
      </div>
    </div>
  </div>
</section>
</body>
</html>


